.bg-participant {
  background-color: #e0f7ff;
}

.bg-agent {
  background-color: #eaeaea;
}

#task-container {
  height: 200px;
}

#user-input-container {
  display: none;
}

#transcript {
  display: none;
}
